<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{if .title}}{{.title}}{{end}}</title>
    <meta name="description" content="{{if .description}}{{.description}}{{end}}">
    <meta name="keywords" content="{{if .keywords}}{{.keywords}}{{end}}">
    <meta name="author" content="Muhammed Furkan Aydın <developeraydin@gmail.com>">
</head>

<body>
    <div class="container">
        <div class="boo-wrapper">
            <div class="boo">
                <div class="face"></div>
            </div>
            <div class="shadow"></div>

            <h1>Whoops!</h1>
            <p>
                We couldn't find the page you
                <br /> were looking for.
            </p>
        </div>
    </div>
    <noscript id="deferred-styles">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,700" rel="stylesheet">
    </noscript>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
</body>

</html>